<div class="row">
    <div class="col-md-6">
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                   show  {{ isCollapsed ? 'Form' : 'Code'}}
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card">
              <div class="card-body">
                  <label for="typeahead-basic">title : </label>
                  <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
                  <hr>
                  <label for="typeahead-basic">price : </label>
<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
              </div>
            </div>
          </div>
          <div id="collapseExample" [ngbCollapse]="!isCollapsed">
              <div class="card">
                <div class="card-body">
                      <div  style="white-space: pre-wrap;">
                          {{data}}
                      </div>
                </div>
              </div>
            </div>
    </div>
    <div class="col-md-6">
      2
    </div>
  </div>