<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ name }}
  </h1>
 <input type="text" [(ngModel)]="name" >
</div>
<div class="container" >
    <h2> List of all the available mongo opertions demo : </h2>
  </div>
<div class="container">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Insert">
        <ng-template ngbPanelContent>
            <app-insert-cmp>
              </app-insert-cmp>
          </ng-template>
    </ngb-panel>
    
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#9733; <b>find</b> operation &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
          <app-find-cmp [name]="name" (userUpdated)="handleUserUpdated($event)">
            </app-find-cmp>
      </ng-template>
    </ngb-panel>
    

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#9733; <b>Remove</b> operation &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
          <app-remove-cmp>

          </app-remove-cmp>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

</div>